:root {
  --black: #000;
  --blue: #16284e;
  --orange: #eb950b;
  --platinum: #e5e5e5;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, var(--blue), rgb(6, 6, 133));
  padding: 5rem 0 0 0;
  }

header h1 {
  font-size: 5rem;
  color: var(--blue);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: var(--orange);
  border: 1.5rem solid;
  border-color: var(--orange);
  margin: 1rem;
  min-width: 40%;
  border-radius: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

h1 {
  position: relative;
  }

span:hover {
  color: var(--white);
  text-transform: lowercase;
  min-width: 100%;
}

h1:hover:after {
  content: url("../Images/profile.jpg");
  position: absolute;
  display: block;
  max-block-size: 20rem 20rem;
  margin-top: 5rem;
  margin-left: 5rem;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  padding: 1.5rem;
  color: var(--white);
  font-size: 2rem;
}

nav a:last-child {
  margin-right: 3rem;
}

a span:hover {
  background-color: var(--orange);
  background-size: 200%;
  text-transform: none;
  font-size: 125%;
  font-weight: 600;
  color: var(--white);
  transition: all .1s linear;
  padding: 1.2rem;
  border-radius: 10px;
}

.background-img {
  background-image: url("../images/bluebackground.webp");
  background-size: cover;
  background-position: center;
  min-height: 15rem;
/*   display: flex;
  flex-wrap: wrap */;
  position: relative;
/*   display: flex;
  justify-content: flex-end;
  align-items: flex-end; */
}

.background-img h2 {
  font-size: 5rem;
  background-color: var(--blue);
  color: var(--orange);
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 0 1rem 1rem 0;
  line-height: .8;
  position: absolute;
  bottom: 2rem;
  right: 2rem;

}

main {
  border: 2.5rem solid white;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items:  stretch;
  /* margin: 1rem 0; */
  background-color: white;
  border: 1rem solid white;

}

section > h2 {
  flex-basis: 20%;
  border-right: 5px solid var(--blue);
  text-align: right;
  font-size: 3rem;
  padding: 10px 20px;
}

.about-me {
  flex-basis: 80%;
  padding: 0 2rem 0 3rem;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: row;
  border: 5x solid red;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 80%;
  /* border: 5px solid red; */
}

.card {
  background-color: var(--blue);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 20rem;
  min-width: 20rem;
  flex-basis: 47%;
  margin: 1rem;
  border: 5px solid var(--blue);
}

.card:first-child {
  min-height: 40rem;
  flex-basis: 100%;
}

.card:hover {
  opacity: .5;
}

#card-label {
  background-color: var(--blue);
  color: var(--white);
  margin:  0 0 1rem 1rem;
  font-size: 3rem;
  padding: .5rem 1rem;
  border-radius: 10px;
  /* border-radius: 10px; */
  /* display: flex; */
  }

.cont p {
  font-size: 2rem;
  padding: .5rem 1rem;
  margin: 0 0 1rem 1.5rem;
}

.cont {
  background-color: var(--blue);
  color: #fff;
  margin: 0 0 1rem 1rem;
  padding: .5rem 1rem;
  border-radius: 10px;
}

h4 a {
  text-decoration: none;
  color: #fff;
}

/* #card-label span {
  font-size: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
} */

.contact {
  display: flex;
  flex-basis: 80%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

address a {
  padding: 1rem;
  margin: 1rem;
  font-style: normal;
}

#card-label:hover {
    background-color: var(--orange);
  }

.css {
    background-image: url("../images/cssimage.jpg");
    background-position: center;
    background-size: 100%;
}

.horiseon {
    background-image: url("../images/horiseon.jpg");
    background-position: center;
  
}

.calculator {
  background-image: url("../images/calculator.jpg");
  background-position: center;
}
 
@media only screen and (max-width: 768px) {
  section > h2 {
    flex-basis: 90%;
    text-align: center;
    border-bottom: 5px solid var(--blue);
    border-right: none;
  }

  section {
    justify-content: center;
  }


section div {
  margin-top: 3rem;
  justify-content: center;
  min-width: 100%;
}

.card {
  align-items: center;
  flex-basis: 100%;
}

/* .card:first-child {
  align-items: center;
  flex-basis: 100%;
} */

.cont {
  text-align: center;
  background-position: center;
  font-size: 1.6rem;
  background-size: 200px 100px;
}

#card-label {
  text-align: center;
  font-size: 2rem;
  }

address {
  display: flex;
  flex-basis: 100%;
  flex-flow: column wrap;
  align-items: center;
}

/* .background-img h2 {
  position: absolute;
  margin: 0 auto;
} */
}











